* {
    margin: 0;
    padding: 0;
}

body {
    height: 100vh;
    min-width: 320px;
    width: 100%;
    font-family: "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    background-color: #e9eaed;
}

#top {
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    height: 20vh;
    min-height: 200px;
    width: 100%;
    top: 0;
    background-color: #42a9b5;
    box-shadow: 0 3px 4px rgba(0, 0, 0, 0.24);
}

#top .titleBar {
    width: 55%;
}

#top .title {
    display: block;
    height: auto;
    width: auto;
    margin-left: auto;
    margin-right: auto;
}

#container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 10;
    margin-top: 165px;
    flex-direction: column;
}

.block {
    display: block;
    width: 55%;
    height: auto;
    background-color: #FFF;
    box-shadow: 0 1px 3px rgba(0, 0, 0, 0.12), 0 1px 2px rgba(0, 0, 0, 0.24);
    margin-bottom: 20px;
}

@media screen and (max-width: 700px ) {
    #top .titleBar {
        width: 90%;
    }

    .block {
        width: 90%;
    }
}

.content {
    height: auto;
    padding: 10%;

}

.content h2 {
    margin-bottom: 20px;
}

.content p {
    width: 100%;
    height: auto;
}

#bottom {
    bottom: 0;
    display: flex;
    justify-content: center;
    margin-top: 20px;
    margin-bottom: 40px;
    font-size: 20px;
    font-family: 'Montserrat', sans-serif;
}

#bottom i {
    padding-right: 5px;
}

a {
    text-decoration: none;
    color: #bbb;
}

a:hover {
    color: #42a9b5;
}